* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @mixin card-basic-styles {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    color: #000;
  }
  
  @mixin card-content-style {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    height: 70%;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    @include card-basic-styles();
    margin: 10px;
    height: 100vh;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #ec4bd2, #eb4bd05d);
  
    &-content {
      @include card-content-style();
  
     .price {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
  
       .span {
          font-size: 1rem;
        }
      }
  
     .card-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
     .card-info {
        font-size: 14px;
        padding: 0 20px;
        line-height: 1.4;
        flex-grow: 1;
      }
  
     .button {
        background: ;
        color: white;
        border: none;
        font-weight: bold;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        border-radius: 200px;
        font-size: 16px;
        margin: 4px 20px;
        cursor: pointer;
      }
    }
  }
  
  .card-two {
    background: linear-gradient(to bottom, #2cbd60, #69c5085d);
  }
  
  .card-three {
    background: linear-gradient(to bottom, #060da35d, #4ba1ec);
  }