* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    top: 0%;
    background-image: url(https://images.hdqwalls.com/download/skull-spooky-girl-5k-nh-1920x1080.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    nav {
        position: absolute;
        top: 0;
        bottom: 100%;
        ul {
            font-family: sans-serif;
            margin-top: 1.5rem;
            display: flex;

            li {
                display: inline;
                list-style: none;

                a {
                    color: rgb(254, 255, 253);
                    margin: 20px;
                    text-decoration: none;
                    padding-top: 5px;

                    &:hover {
                        border-top: 1px solid  rgb(255, 218, 52) ;
                    }
                }
            }
        }
    }
}
