@mixin flexCenter($direction, $backgroud) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $backgroud;
    }
header {
    @include flexCenter(column);

    background: lightblue;
    height: 100vh;
    color: $textColor;
    button { 
    background: $primaryBtn;
    &:hover {
     background: rgb(75, 130, 140);
    &::after {
     content: 'HI';
    }
    }
}
}